.container-scroll {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  overflow-x: auto;
  width: 100%;
}

.img-card {
  max-width: 9rem;
}

.recipe-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
